@model InmobiliariaQuintana.Models.Contrato

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Contratos</h1>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- <div class="form-group">
        <label asp-for="InquilinoId" class="control-label"></label>
        <input asp-for="InquilinoId" class="form-control" />
        <span asp-validation-for="InquilinoId" class="text-danger"></span>
    </div> -->
            <div class="form-group">
                <label class="control-label">Inquilino</label>
                <select class="form-control" name="InquilinoId">
                    @foreach (var item in (IList<Inquilinos>)ViewBag.Inquilinos)
                    {
                        <option value="@item.IdInquilino">@(item.Nombre + " " + item.Apellido)</option>
                    }
                </select>
                <span asp-validation-for="InquilinoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InmuebleId" class="control-label"></label>
                <!-- <input asp-for="InmuebleId" class="form-control" />-->
                <select class="form-control" name="InmuebleId">
                    @foreach (var item in (IList<Inmueble>)ViewBag.Inmuebles)
                    {
                        <option value="@item.IdInmueble">@(item.IdInmueble + " - " + item.Direccion)</option>
                    }
                </select>
                <span asp-validation-for="InmuebleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDesde" class="control-label"></label>
                <input type="date" name="FechaDesde" class="form-control" id="desdeNew" />
                <span asp-validation-for="FechaDesde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaHasta" class="control-label"></label>
                <input type="date" name="FechaHasta" class="form-control" id="hastaNew" />
                <span asp-validation-for="FechaHasta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreGarante" class="control-label"></label>
                <input asp-for="NombreGarante" class="form-control" />
                <span asp-validation-for="NombreGarante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DNIGarante" class="control-label"></label>
                <input asp-for="DNIGarante" class="form-control" />
                <span asp-validation-for="DNIGarante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoGarante" class="control-label"></label>
                <input asp-for="TelefonoGarante" class="form-control" />
                <span asp-validation-for="TelefonoGarante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Precio" class="control-label">Precio</label>
                <input name="Precio" class="form-control" />
                <span for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
