@model InmobiliariaQuintana.Models.Contrato

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- <div class="form-group">
                    <label asp-for="InquilinoId" class="control-label"></label>
                    <input asp-for="InquilinoId" class="form-control" />
                    <span asp-validation-for="InquilinoId" class="text-danger"></span>
                </div> -->
                <div class="form-group">
                    <label class="control-label">Inquilino</label>
                    <select class="form-control" name="InquilinoId">
                        @foreach (var item in (IList<Inquilinos>)ViewBag.Inquilinos)
                        {
                            <option value="@item.IdInquilino">@(item.Nombre + " " + item.Apellido)</option>
                        }
                    </select>
                    <span asp-validation-for="InquilinoId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InmuebleId" class="control-label"></label>
                    <input asp-for="InmuebleId" class="form-control" />
                    <span asp-validation-for="InmuebleId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaDesde" class="control-label"></label>
                    <input asp-for="FechaDesde" class="form-control" />
                    <span asp-validation-for="FechaDesde" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaHasta" class="control-label"></label>
                    <input asp-for="FechaHasta" class="form-control" />
                    <span asp-validation-for="FechaHasta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NombreGarante" class="control-label"></label>
                    <input asp-for="NombreGarante" class="form-control" />
                    <span asp-validation-for="NombreGarante" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DNIGarante" class="control-label"></label>
                    <input asp-for="DNIGarante" class="form-control" />
                    <span asp-validation-for="DNIGarante" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TelefonoGarante" class="control-label"></label>
                    <input asp-for="TelefonoGarante" class="form-control" />
                    <span asp-validation-for="TelefonoGarante" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
